# Dependencies
node_modules/

# Test results & reports
test-results/
playwright-report/
blob-report/
playwright/.cache/

# OS and Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Local build or temp files
dist/
tmp/
*.tmp
